body
{
margin:0;
padding: 0px 60px;
#color: #efefef;
font-family: 'Open sans'
}

p1
{
    background-color: silver;
    color: black;
}
p2{
    color: blue;
    font-size: 70px;
    font-weight: 400;
    #margin-bottom: 20px;
}