<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Witaj na mojej stronie domowej</title>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<h1>
    <p1><strong>
        Witaj na mojej stronie domowej !
    </strong>
    </p1>

</h1>
<img src="profilowe.jpg" alt="Zdjecie profilowe" title="Profilowe" height="150px">
<h2>
    <p2>
        O mnie
    </p2>
</h2>
<h2>
    <p3>
        IMIE: Paweł
    </p3><br>
</h2>
<h2>
    <p4>
        NAZWISKO: Banak
    </p4>
</h2>
</body>
</html>